<html>
<head>

<style>
 .bg-cover {
  
        background:  url('https://i.ytimg.com/vi/RJQ8ipEQRVU/maxresdefault.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    }
     .navbar-brand {
  
        background:  url('http://www.dancetones.org/images/client/dancetones-studios.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    }
    
.home_page_main_image{  /* banner image on home page  */
height:600px; /* height */
 width:100%;/* full width */
 background:  url('http://www.stardanceschool.com/images/kids-dance-classes.jpg') no-repeat top center fixed; 
 background-size: contain;/*Resize the background image to make sure the image is fully visible  */
  background-position: 0px 50px;
	}
	
	.main-content{
	
		position: relative;/* positioned relative to its normal position */
		text-align: center;/* text in the center */
		color: white;/*colour of text */
	}

.main-content img{  /* main image on home restrict the height and width   */
	max-height: 1000px; /*max height of image */
}
.main-content h3 {
    position: absolute; /*positioned relative to its first positioned ancestor  */
    top: 70px;
	left: 400px;
	font-family: "Roboto";
	font-weight: 500;
	font-size: 80px;
}
.home-btn {   /* action button on home page  */
	position: absolute;/*positioned relative to its first positioned ancestor  */
	background: #FF5400 none repeat scroll 0% 0%; /* background colour dont repeat add a scroll and position 0 */
	text-decoration: none;
	color: #FFF !important;
	margin-top: 430px;
	width: 250px;
	padding: 12px;
	border-radius: 30px;
	top: 10%;
	left: 900px;
	font-size: 20px;
	text-align: center;
  }
  /***********************************    FOOTER   **************************************************/

.footer{  /* general footer styles  */
	background-color:#F50;  /* background colour */
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); /* add a shadow */
	box-sizing: border-box;/* Include padding and border in the element's total width and height */
	width: 100%; /*full width  */
	text-align: left;/*keep to the left  */
	font: bold 16px sans-serif;/*bold text size and font  */
	padding: 55px 50px; /*padding left right and top bottom  */
	margin-top: 80px;/* margin top */
}
.footer .footer-left,   /* 3 parts of the footer  */
.footer .footer-center,
.footer .footer-right{
	display: inline-block;/* stack, element as a block element */
	vertical-align: top;/* aligned with the top of the tallest element on the line */
}

/* Footer left */

.footer .footer-left{
	width: 40%; /* width  */
}

.footer .footer-links{ /*footer links */
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a{ /*footer links a tags*/
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;  /* let coolour come through  */
}


/* Footer Center */

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer .footer-right{
	width: 20%;
}
 
    
</style>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <%= link_to image_tag('http://www.dancetones.org/images/client/dancetones-studios.png'), root_path %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item" style="margin-right:20px;">
        <a class="nav-link"><%= link_to "Home",  root_path %></a>
      </li>
      <!--<li class="nav-item">
         <li><%= link_to "classes", static_pages_classes_path %></li>
        <a class="nav-link" href="#">Link</a> -->
      </li>
      <li class="nav-item" style="margin-right:20px;">
        <a class="nav-link"><%= link_to "Danceclasses",  danceclasses_path %></a>
      </li>
        <li class="nav-item" style="margin-right:20px;">
        <a class="nav-link"><%= link_to "About",  root_path %></a>
      </li>
     
    </ul>
  
  </div>
  <p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>
</nav>
<div class="home_page_main_image"></div>

<section  class="clearfix" style="background-color:#f3f3f3;padding:50px;">
		<div class="main-content">
		  <%= image_tag ("beach.jpg") %>
		<h3>Welcome to our Studio</h3>
		<a class="home-btn" href="/danceclasses">See What You Can Do...</a>
		</div>
      </section>

<!-- footer area -->
<footer class="footer">

			<div class="footer-left">
         <%= image_tag ("dancetones-studios-logo.png") %>

				<p class="footer-links">
					<a href="index.html">Home</a>
					·
					<a href="classes.html">Classes</a>
					·
					<a href="gallery.html">Gallery</a>
					·
					<a href="contact.html">Contact</a>

				</p>

				<p class="footer-company-name">DanceTones Studios &copy; 2017</p>
			</div>

			<div class="footer-center">

				 <div class="social3">
					<a class="fa fa-map-marker" href="#"></a>
               	<p><span>24, Newbridge Industrial Estate, Athgarvan Rd, Kilbelin, Newbridge, Co. Kildare</span></p> <br>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<a href="tel:+(045)434844" style="color:white">045 434 844</a>
				</div>



			</div>

			<div class="footer-right">

                <div class="social2">
					<a class="fa fa-envelope" href="#"></a>
					<p style="display:inline-block; color:white"> info@dancetones.ie </p> <br>
				</div>

				<div class="social">
					<a class="fa fa-facebook" title="" target="_blank" href="https://www.facebook.com/dancetones/"></a>
					<p style="display:inline-block; color:white"> Facebook </p>
				</div>

			</div>

		</footer>

</body>
<script>

</script>
</html>
