<p id="notice"><%= notice %></p>
<style>

</style>
 <%= render 'layouts/nav' %>
 <div style="height:50px;"></div>
 <div class="container">
<table id="customers" class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th>discription</th>
        <th></th>
        <th>Price</th>
        <th>Quantity</th>
        <th>amount</th>
        
      </tr>
    </thead>
    <tbody>
    <% total = 0 %>
    <% @cart.each do |id, quantity | %>
    
    <% danceclass = Danceclass.find_by_id(id) %>
        <tr>
        <td>
            <div class="image">
                <%= link_to (image_tag danceclass.image_url, :style =>"height:40px"), danceclass %>
        
            </div>
        </td>
        
        <td><%= link_to danceclass.title, danceclass %></td>
        <td><a href="/cart/remove/<%= danceclass.id %>">Remove From Cart</a></td>
        <td><%= number_to_currency(danceclass.price, :unit => "€") %> </td>
        <td><%= quantity %></td>
        <td><%= number_to_currency(quantity * danceclass.price, :unit => "€") %></td>
       
    </tr>
    <tfoot>
      <% total += quantity * danceclass.price %>
    <% end %>

        
    </tfoot>
    <tbody>
</table>
 Grand Total: <%= number_to_currency(total, :unit => "€") %>
<%= link_to "checkout" ,static_pages_checkout_path %> </td>
</div>

