<p id="notice"><%= notice %></p>
<%= render 'layouts/nav' %>

<div style="height:50px;"></div>
<div class="float-right">
<%= link_to 'View Cart', cart_path, :class => "btn btn-info btn-sm"%><br><br>
<% if current_user.try(:admin?) %>
       
		<%= link_to 'Add Dance class', new_danceclass_path, :class => "btn btn-info btn-sm" %>
	   <% end %>
</div>
 <div class="row text-center">
 <% @danceclasses.each do |danceclass| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <%= link_to (image_tag danceclass.image_url, :class => "itemholsIm"), danceclass %>
            <div class="card-body">
              <h4 class="card-title">Title: <%= danceclass.title %></h4>
              <p class="card-text">Description: <%= danceclass.description %></p>
              <p class="card-text">Category: <%= danceclass.category %></p>
              <p class="card-text">Price: €<%= danceclass.price %></p>
              <% if current_user.try(:admin?) %>
        <td><%= link_to 'Edit', edit_danceclass_path(danceclass) %></td>
        <td><%= link_to 'Destroy', danceclass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% end %>
            </div>
            <div class="card-footer">
              <%= link_to 'Find Out More', danceclass, :class => "btn btn-info"%>
              <hr>
               <a href="/cart/<%= danceclass.id %>" class="btn btn-success">Add To Cart</a>
              
            </div>
          </div>
           </div>
           <% end %>
       

<br>



</div>
 <%= render 'layouts/footer' %>