<p id="notice"><%= notice %></p>
<div class="row">
                <div class="col-md-6 offset-md-3">
<!-- form card login with validation feedback -->
                    <div class="card card-outline-secondary">
                        <div class="card-header">
                            <h3 class="mb-0">Danceclass Details</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
                                <div class="form-group">
                                    <p>
  <strong>Title:</strong>
  <%= @danceclass.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @danceclass.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @danceclass.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @danceclass.image_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @danceclass.category %>
</p>
<p>
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_danceclass_path(@danceclass) %> |
	   <% end %>

<%= link_to 'Back', danceclasses_path %>
</p>
</div>
                            </form>
                        </div>
                        <!--/card-body-->
</div>
</div>