<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @danceclass.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @danceclass.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @danceclass.price %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @danceclass.image_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @danceclass.category %>
</p>
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_danceclass_path(@danceclass) %> |
	   <% end %>

<%= link_to 'Back', danceclasses_path %>
