<!DOCTYPE html>
<html>
  <head>
    <title>Danceschool3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
       /***********************************    FOOTER   **************************************************/

.footer{  /* general footer styles  */
	background-color:#F50;  /* background colour */
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); /* add a shadow */
	box-sizing: border-box;/* Include padding and border in the element's total width and height */
	width: 100%; /*full width  */
	text-align: left;/*keep to the left  */
	font: bold 16px sans-serif;/*bold text size and font  */
	padding: 55px 50px; /*padding left right and top bottom  */
	margin-top: 80px;/* margin top */
}
.footer .footer-left,   /* 3 parts of the footer  */
.footer .footer-center,
.footer .footer-right{
	display: inline-block;/* stack, element as a block element */
	vertical-align: top;/* aligned with the top of the tallest element on the line */
}

/* Footer left */

.footer .footer-left{
	width: 40%; /* width  */
}

.footer .footer-links{ /*footer links */
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a{ /*footer links a tags*/
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;  /* let coolour come through  */
}


/* Footer Center */

.footer .footer-center{
	width: 35%;
}

.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}


.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer .footer-right{
	width: 20%;
}
 
    </style>
  </head>

  <body>
    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
  </body>
 
</html>
